// Place all the styles related to the Compare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  text-align: center;
}

.form {
  margin-top: 4em;
}

.result {
  margin-top: 4em;
}
